MONGO_URI=mongodb+srv://my_db_user:F19@my.m.mongodb.net/?appName=my
SESSION_SECRET=df8fbxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx605a
GOOGLE_MAPS_API_KEY=AIzxxxxxxxxxxxxxxxxxxbZU
JYOTISHAM_API_KEY=2a1xxxxxxxxxxxxxxxxxGf

CASHFREE_CLIENT_ID=159xxxxxxxxxxxxxxxxxxx51
CASHFREE_CLIENT_SECRET=cfxxxxxxxxxxxxxxxxxxxxxxxxxxxxb41e89
CASHFREE_ENV=production              # switch to "production" when you go live
CASHFREE_API_VERSION=2026-01-01
APP_BASE_URL=https://astro.ashutoshfoundation.in   # no trailing slash